@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    text-align: center;
    background: #e1a9c6;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logoContainer {
    margin-bottom: 1rem;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.greetings h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about p {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.link {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 600;
    color: #fff;
    background-color: #ff00d4;
    padding: 0.75rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link:hover {
    background-color: #b30036;
}
